<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>米农|小吃大全</title>
    <script src="../static/js/uuconf.js"></script>
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/allRecipes.css">
    <link rel="stylesheet" href="../static/css/pccb.css">
    <link rel="stylesheet" href="../static/css/cb.css">
    <link rel="stylesheet" href="../static/css/navcss.css">

</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"><img src="../static/images/llll.png" class="logo"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="allRecipes.html">小吃大全</a></li>
                        <li><a class="dongtai">动态</a></li>
                        <li><a href="#">商城</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"></a></li>
                        <li class="dropdown" style="background-color:black;color:white;display: none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><span>安歌</span><img
                                    src="../static/image/userHead.jpeg"
                                    class="img-circle"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color:black;color:white;">
                                <li><a class="publishDynamic">发布动态</a></li>
                                <li><a class="cookbookfabu">发布菜谱</a></li>
                                <li><a class="personnal">个人中心</a></li>
                                <li><a href="changeStep.html">消息反馈<span class="ns"></span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" class="outlogin">退出账号</a></li>
                            </ul>
                        </li>
                        <li><a href="../index.html">登录</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入您要搜索的关键字">
                        </div>
                       <button class="btn" style="background-color: lightgrey;color: white;"> <a href="search.html">搜索</a></button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<!--导航栏结束-->

<div>
    <div class="catalog">
        <h1>小吃大全</h1>
    </div>

    <div class="contentAll">
        <div class="snack_list">
        </div>
        <div class="advertisement">
            <div class="cbchoose">
                <div class="p">普通筛选</div>
                <div class="s">食材筛选</div>
            </div>
            <div class="cbfood">
                <div class="putong">
                    <ul>
                        <li>
                            <div class="t">
                                <span>选择口味</span>
                                <span>↓</span>
                            </div>
                            <div class="j">

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shicai">
                    <div class="shaixuan">
                        <input class="msg" type="text" placeholder="输入您要查找的食材">
                        <button class="btnsx">筛选</button>
                    </div>
                    <div class="typepaixu">
                        <span>按数量排序</span>
                    </div>
                    <div class="paixu">
                        <ul class="myul">

                        </ul>
                        <input type="button" value="换一批" id = "bb">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pages">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pager fy">
                            <li><a href="#" class="first">上一页</a></li>
                            <li class="linka" >
                                <ul style="display: flex">
                                </ul>
                            </li>
                            <li><a href="#" class="end">下一页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</div>
<!--底部-->
<div>
    <div class="footer">
        <ul>
            <li>
            <span>
                关于我们
            </span>
                <ul>
                    <li><a href="aboutAs.html">米农网简介</a></li>
                    <li><a href="aboutTeam.html">rainbow简介</a></li>
                    <li>联系我们</li>
                    <li>合作伙伴</li>
                </ul>
            </li>
            <li>
            <span>
                加入米农
            </span>
                <ul>
                    <li>招聘职位</li>
                </ul>
            </li>
            <li>
            <span>
                网络条款
            </span>
                <ul>
                    <li>会员条款</li>
                    <li>社区指南</li>
                    <li>版权声明</li>
                    <li>免责声明</li>
                </ul>
            </li>
            <li>
            <span>
                帮助中心
            </span>
                <ul>
                    <li>新手上路</li>
                    <li>使用帮助</li>
                    <li>网站地图</li>
                    <li>旅行工具</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-last"></div>
</div>
<script src="../static/clicet.js"></script>
<script src="../static/js/changenav.js"></script>
<script src="../static/js/outlogin.js"></script>
<script src="../static/js/kwxuanran.js"></script>
<script src="../static/js/utils.js"></script>
<script src="../static/js/allRecipes.js"></script>
<script src="../static/js/allrecipesshuju.js"></script>
<script src="../static/js/allrecipesshaixuan.js"></script>
<script src="../static/js/clickfood.js"></script>
<script src="../static/js/clickfoodtoxiangqing.js"></script>
</body>
</html>