<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的请求您的申请已被通过页面</title>
    <script src="../static/js/uuconf.js"></script>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/mynot_pass_Au.css">


</head>
<body>
<div class="container-fluid cblist">

    <div class="con">
        <div class="row yishenhe">
            <div class="user-revise-info">
                    <a href="xiangqing.html" title="菜谱图片" class="">
                    <img src="../static/image/ycm1.jpg" alt="">
                    </a>
                    <a href="xiangqing.html" class="food-name">阳春面</a>
            </div>


            <a class="btn  btn-lg clicklook" data-toggle="modal" data-target="#myModal">
                  点击查看详情
                </a>

                <!-- Modal -->



            <div class="yishenhe-btn">
                <form>
                <fieldset disabled>
                     <button type="submit" class="btn btn-primary ">已被审核通过</button>
                </fieldset>
                </form>
            </div>
        </div>




    </div>
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">详情</h4>
                      </div>
                      <div class="modal-body">
                          <div class="body-box">
                                <div class="details-box1">
                                    <a href="personalCenter.html" title="用户头像" class="">
                                    <img src="../static/image/head.jpg" alt="">
                                    </a>
                                    <a href="personalCenter.html" title="用户名" class="food-name">安歌</a>
                                </div>
                                <div class="details-box2">
                                    <div class="row"><h3>申请替换掉的步骤为：</h3></div>
                                    <div class="row">
                                        <h4 style="color:#000000;"><img src="../static/image/我的订单.svg" alt="">原步骤：</h4>
                                        <p>阳春面很好吃</p>
                                        <div class="apply">
                                            <h4 style="color:#000000;"><img src="../static/image/修改-default.svg" alt="">申请替换为</h4>
                                            <a class="yitongguo">您的申请已被通过</a>
                                        </div>

                                        <p>阳春面并没有传说中的那么好吃</p>
                                        <h5 style="color:#000000;">附图：<img src="../static/image/阳春面.jpg"  class="img-responsive center-block" alt=""></h5>
                                    </div>
                                    <div class="row">
                                        <h4 style="color:#000000;"><img src="../static/image/我的订单.svg" alt="">原步骤：</h4>
                                        <p>阳春面很好吃</p>
                                        <div class="apply">
                                            <h4 style="color:#000000;"><img src="../static/image/修改-default.svg" alt="">申请替换为</h4>
                                            <a class="yitongguo">您的申请已被通过</a>
                                        </div>

                                        <p>阳春面并没有传说中的那么好吃</p>
                                        <h5 style="color:#000000;">附图：<img src="../static/image/阳春面.jpg"  class="img-responsive center-block" alt=""></h5>
                                    </div>
                                    <div class="row">
                                        <h4 style="color:#000000;"><img src="../static/image/我的订单.svg" alt="">原步骤：</h4>
                                        <p>阳春面很好吃</p>
                                        <div class="apply">
                                            <h4 style="color:#000000;"><img src="../static/image/修改-default.svg" alt="">申请替换为</h4>
                                            <a class="yitongguo">未通过</a>
                                        </div>

                                        <p>阳春面并没有传说中的那么好吃</p>
                                        <h5 style="color:#000000;">附图：<img src="../static/image/阳春面.jpg"  class="img-responsive center-block" alt=""></h5>
                                    </div>
                                </div>
                                <div class="details-box3">
                                    <div class="row">
                                        <p>申请时间</p>
                                        <p>2018/10/8  10:35</p>
                                    </div>
                                </div>
                                  <div class="details-box4">
                                      <div class="row">
                                        <p>审核时间</p>
                                        <p>2018/10/9  23:30</p>
                                    </div>
                                  </div>
                          </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      </div>
                    </div>
                  </div>
                </div>

    <div class="pages">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        <li><a href="#" class="first">上一页</a></li>
                        <li class="linka">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </li>
                        <li><a href="#" class="end">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/mynot_pass_Au.js"></script>
</body>
</html>