<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>未审核页面</title>
    <script src="../static/js/uuconf.js"></script>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/not_passAu.css">


</head>
<body>
<div class="container-fluid cblist">

    <div class="con">
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Modal -->
                <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">详情</h4>
                      </div>
                      <div class="modal-body">
                          <div class="body-box">
                                <div class="touxinxi"></div>
                                <div class="row"><h3>申请替换掉的步骤为：</h3></div>
                                <div class="details-box2">
                                    <!--
                                    <div class="row">
                                        <h4 style="color:#000000;"><img src="../static/image/我的订单.svg" alt="">原步骤：</h4>
                                        <p>可乐鸡翅很好吃</p>
                                        <div class="apply">
                                            <h4 style="color:#000000;"><img src="../static/image/修改-default.svg" alt="">申请替换为</h4>
                                            <div class="yes-no">
                                                <button type="button" class="btn btn-success yes-btn">同意</button>

                                                <button type="button" class="btn btn-info no-btn">不同意</button>
                                            </div>

                                            <a class="yitongguo-1">已通过</a>
                                            <a class="yitongguo-2">未通过</a>
                                        </div>

                                        <p>可乐鸡翅并没有传说中的那么好吃</p>
                                        <h5 style="color:#000000;">附图：<img src="../static/image/可乐鸡翅.jpg"  class="img-responsive center-block" alt=""></h5>
                                    </div>
                                     -->
                                </div>
                                <div class="details-box3">
                                    <div class="row">
                                        <p>申请时间</p>
                                        <p>2018/10/8  10:35</p>
                                    </div>
                                </div>
                          </div>
                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">关闭</button>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>

    <div class="pages">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        <li><a href="#" class="first">上一页</a></li>
                        <li class="linka">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </li>
                        <li><a href="#" class="end">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/not_passAu.js"></script>
</body>
</html>