<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关注</title>
    <script src="../static/js/uuconf.js"></script>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/cb.css">
    <link rel="stylesheet" href="../static/css/pc.css">
    <style>
        .bordertuo.attBtn:hover{
            background: pink;
            color: white;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="attPeople">
        <div class="row marginten attone">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="user-headPic">
                    <img src="../static/image/userHead.jpeg" class="img-circle wh">
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="row h4"><span>漫画师Rine小芮</span></div>
                <div class="row">关注 <span class="colorrou">1</span> &nbsp; 粉丝 <span class="colorrou">4608</span></div>
                <div class="row">新浪微博:漫画师Rine小芮</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="bordertuo attBtn">已关注</div>
            </div>
        </div>
    </div>
    <div class="pages">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        <li><a href="#" class="first">上一页</a></li>
                        <li class="linka">
                        </li>
                        <li><a href="#" class="end">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--<script src="../static/js/pcatt.js"></script>-->
<script src="../static/js/pcAttentionshow.js"></script>
</body>
</html>